<!DOCTYPE html>
<html lang="pt-br">

<%- include("./partials/header.ejs") %>

<body>
    <%- include("./partials/navbar.ejs") %>
    <div class="container">
        <div id="containerHeader">
            <a href="/perguntar" class="btn btn-primary">Realizar uma pergunta</a>
        </div>
        <hr>
        <% perguntas.forEach(pergunta => { %>
            <br>
            <div class="card" >
                <div class="card-body" id="card-perguntas">
                    <h3><%= pergunta.titulo %></h3>
                    <a href="/pergunta/<%= pergunta.id %>">
                        <button class="btn btn-primary">
                            Responder
                        </button>
                    </a>
                </div>
            </div>
        <% }) %>
        

    </div>
</body>

</html>